@import url("https://fonts.google.com/specimen/Red+Hat+Display");

:root {
  /* primary */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  /* neutral */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--pale-blue);
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  font-family: "Red Hat Display", sans-serif;
}

.card {
  width: 400px;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 15px;
  overflow: hidden;
}

.card-image > .hero-image {
  width: 100%;
}

.card-body {
  padding: 30px 50px;
}

.card-description {
  text-align: center;
}

.card-description > .title {
  font-size: 21px;
  font-weight: 900;
  color: var(--dark-blue);
}

.card-description > .desc,
.price-desc > .category > h2 {
  font-size: 14px;
}

.card-description > .desc {
  color: var(--desaturated-blue);
  margin-top: 12px;
  line-height: 1.5;
}

.price-desc {
  display: flex;
  margin: 30px 0px;
  align-items: center;
  background-color: var(--very-pale-blue);
  padding: 20px;
  border-radius: 10px;
}

.price-desc > img {
  flex: 0.2;
}

.price-desc > .category {
  flex: 1.5;
  margin-left: 15px;
}

.category > h2 {
  color: var(--dark-blue);
  margin-bottom: 5px;
}

.category > p,
.price-desc > a {
  font-size: 12px;
}

.category > p {
  color: var(--desaturated-blue);
}

.price-desc > a {
  font-weight: 700;
  color: var(--bright-blue);
  transition: 0.5s;
}

.price-desc > a:hover {
  opacity: 0.8;
  text-decoration: none;
}

.cta-button {
  display: flex;
  flex-direction: column;
}

.cta-button button {
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  transition: 0.5s;
}

.cta-button > .btn-process {
  margin-bottom: 10px;
  color: #fff;
  background-color: var(--bright-blue);
  box-shadow: 0px 14px 15px -8px hsl(245deg 75% 52%);
}

.cta-button > .btn-process:hover {
  opacity: 0.7;
}

.cta-button > .btn-cancel {
  background-color: transparent;
  color: var(--desaturated-blue);
}

.cta-button .btn-cancel:hover {
  color: var(--dark-blue);
}

.footer {
  margin-bottom: 20px;
}

.attribution {
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  color: var(--desaturated-blue);
}
.attribution a {
  color: var(--bright-blue);
}
